<div class="default-page">
  <div class="container clearfix" id="weather-lookup">
      <form method="POST" action="/search" id="weather-request">
        <label for="zip_code">5-digit Zip Code: </label>
        <!-- this is intended to be a US zip code, use requirements HTML validation -->
        <input type="tel" name="zip_code" minlength="5" maxlength="5" size="7" pattern="[0-9]{5}"/>
        <input type="submit" class="btn btn-primary" value="Find My Weather"/>
      </form>
  </div>
  <div class="main container clearfix">
      <% _.each(results, function(result) { %>
      <p>
        <% if (result.forecast.current) { %>
          <%- partial('../partials/current.ejs', {current: result.forecast.current, city: result.zipCode.city}); %>
        <% } %>
        <%  if( results.length === 1) { %>
          <%- partial('../partials/daily.ejs', {reports: result.forecast.daily}); %>
        <%  } %>
      </p>
      <% }); %>
    </div>
  </div>
</div>
